extends layout

block content
  div.header
    h1 HNMention
    p.lead Email notification when someone <abbr title="attribute">@mention</abbr> you on Hacker News.

    .row
      - if (typeof notice !== 'undefined')
        .col.col-lg-7.alert= notice

      - if (typeof errors !== 'undefined')
        .col.col-lg-7.alert.alert-danger
          p Error submitting the form.
          ul.errors
            - for (var err in errors)
              li= errors[err].msg

  - if (typeof notice == 'undefined')
    form.form-horizontal(action='/', method='post')
      input(type='hidden', name='_csrf', value=token)
      .control-group
        label.control-label(for='username') HN Username
        .controls
          .row
            input.col.col-lg-4#username(type='text', placeholder='johndoe', name='username', value=)
      .control-group
        label.control-label(for='email') Email
        .controls
          .row
            input.col.col-lg-4#email(type='email', placeholder='john@doe.com', name='email')
      .control-group
        .controls
           button.btn(type='submit') Submit
