doctype 5
html
  head
    title HNMention
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrap
      #main
        .container
          block content
    #footer
      .footer
        span Created by
        a(href="http://www.cupidwithfriends.com/")
          img(src="/images/logo.png", alt="Online dating")
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36654750-4']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
