doctype 5
html
  head
    title HNMention
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #wrap
      #main
        .container
          block content
    #footer
      .footer
        span Created by
        a(href="http://www.cupidwithfriends.com/")
          img(src="/images/logo.png", alt="Online dating")
