p Hey 
  = username
  ,

p Please confirm your email by clicking the link below:

p
  a(href="http://hnmention.com/confirm/" + userId) Confirm your email

p Help to contribute to HNMention on
  a(href="https://github.com/siong1987/hnmention") Github
  .

p Follow
  a(href="https://twitter.com/siong1987") @siong1987
  .