p Hey 
  = username
  ,

p Please confirm your email by clicking the link below:

p
  a(href="http://hnmention.com/confirm/" + userId) Confirm your email

p HNMention is created by the team behind 
  a(href="http://www.cupidwithfriends.com/") CupidWithFriends
  .
