p Hey 
  = user.fullUsername
  ,

p Someone mentions you on Hacker News:

div(style="margin-left: 20px;")
  != comment.content

  p by 
    = comment.user

p
  a(href="https://news.ycombinator.com/item?id=" + comment.id) Check it out

p Help to contribute to HNMention on
  a(href="https://github.com/siong1987/hnmention") Github
  .

p Follow
  a(href="https://twitter.com/siong1987") @siong1987
  .

p
  a(href="http://hnmention.com/unsubscribe/" + user.id) Unsubscribe
